/* Header & Footer */
.bg-nav{
  background-color: #ececed;
}

/* search filter */
.card-img{
  height: 200px; 
}
.img {
  position: relative;
}
.img .fav-icon {
  color: gray;
  top: 10%;
  left: 95%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* detail view */
.pls-contact-us{
  color:#caa314d6;
}
.home-icon{
  background-color: #caa314d6;
  height: 15px;
  border-radius: 50%;
  width: 15px !important;
}

/* common styles */
.cursor-pointer{
  cursor: pointer;
}
.font-13{
  font-size: 13.5px
}
.font-14{
  font-size: 14px !important
}
.font-weight-500{
  font-weight: 500;
}
@media (max-width: 575.98px) { 
  .banner-img{
    height: 100px
  }
  .banner-thumb{
    height: 70px
  }
} 
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner-img{
    height: 200px
  }
  .banner-thumb{
    height: 100px
  }
}
@media (min-width: 768px) {
  .banner-img{
    height: 450px
  }  
}


